//- Объявление миксина
//- Параметры: vLabel, vItemsId, vItems, vDescriptions
mixin mixCheckboxListRich({label: vLabel, inputs})
  .checkbox-list-rich
    .checkbox-list-rich__button=vLabel
    .checkbox-list-rich__items
      each item in inputs
        .checkbox-list-rich__item
          input.checkbox-list-rich__checkbox(type="checkbox" name=item.name id=item.id)
          label.checkbox-list-rich__label(for=item.id)
            .checkbox-list-rich__title=item.value
            .checkbox-list-rich__description=item.description


