//- Объявление миксина
mixin mixButtonLike(vNumber, vCheckboxId ,vChecked)
  if vChecked == 'true'
    button.button-like.button-like_active(data-id=vCheckboxId data-value=vNumber)
      .button-like__body
        .button-like__icon favorite_border
        .button-like__text=vNumber
  else 
    button.button-like(data-id=vCheckboxId data-value=vNumber)
      .button-like__body
        .button-like__icon favorite_border
        .button-like__text=vNumber

