//- Объявление миксина
mixin mixButtonLike({numberOfLikes, id, isChecked})
  if isChecked == 'true'
    button.button-like.button-like_active(data-id=id data-value=numberOfLikes)
      .button-like__body
        .button-like__icon favorite_border
        .button-like__text=numberOfLikes
  else 
    button.button-like(data-id=id data-value=numberOfLikes)
      .button-like__body
        .button-like__icon favorite_border
        .button-like__text=numberOfLikes

