//- Объявление миксина
mixin mixDropdown({label: vLabel, type: vType, inputNames})
  -
    const in1 = inputNames[0];
  .dropdown(data-type=vType)
    .dropdown__label= vLabel
    .dropdown__container
      button.dropdown__button
        if vType === '1'
          |Выберите гостей
        else
          |Параметры номера
      .dropdown__list
        .dropdown__item(data-id='1')
          .dropdown__text 
            if vType === '1'
              |взрослые
            else
              |спальни
          .dropdown__button-dec.dropdown__button-dec_inactive -
          .dropdown__value 0
          .dropdown__button-inc +
        .dropdown__item(data-id='2')
          .dropdown__text
            if vType === '1'
              |дети
            else
              |кровати
          .dropdown__button-dec.dropdown__button-dec_inactive -
          .dropdown__value 0
          .dropdown__button-inc +
        .dropdown__item(data-id='3')
          .dropdown__text
            if vType === '1'
              |младенцы
            else
              |ванные комнаты
          .dropdown__button-dec.dropdown__button-dec_inactive -
          .dropdown__value 0
          .dropdown__button-inc +
        if vType === '1'
          .dropdown__buttons-container
            .dropdown__button-apply применить
            .dropdown__button-clear.dropdown__button-clear_inactive очистить
        else
          .dropdown__buttons-container.dropdown__buttons-container_inactive
            .dropdown__button-apply применить
            .dropdown__button-clear.dropdown__button-clear_inactive очистить
      input.dropdown__input(type='text' data-id='1' name=inputNames[0] value='0')
      input.dropdown__input(type='text' data-id='2' name=inputNames[1] value='0')
      input.dropdown__input(type='text' data-id='3' name=inputNames[2] value='0')

//- script(src='js/dropdown.js')
